html, body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    width: 99.6vw;
    height: 97.7vh;
    /* border: 2px solid black; */
    cursor: url(crosshair.cur) 0 10, default;
}

*, ::before, ::after {
    box-sizing: inherit;
}